body{
    background: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%) no-repeat;
    background-size: cover;
}

.mdc-text-field label{
    background-color: transparent!important;
}

%border {
    margin: 25px;
    border: 1px dashed rgba(255, 255, 255, 0.4);
    border-radius: 3px;
    overflow: hidden;
}

.file-drop-area {
    grid-row: 2;
    grid-column: 1/2;
    position: relative;
    display: flex;
    align-items: center;
    padding: 25px;
    @extend %border;
    transition: 0.2s;
    &.is-active {
        background-color: rgba(255, 255, 255, 0.05);
    }
    .fake-btn {
        flex-shrink: 0;
        background-color: rgba(255, 255, 255, 0.04);
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 3px;
        padding: 8px 15px;
        margin-right: 10px;
        font-size: 12px;
        text-transform: uppercase;
    }

    .file-msg {
        font-size: small;
        font-weight: 300;
        line-height: 1.4;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .file-input {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        cursor: pointer;
        opacity: 0;
        &:focus {
            outline: none;
        }
    }
}
