.field{
  width: 100%;
}

canvas{
  display: block;
  margin: 20px auto;
}

.control{
  display: flex;
  justify-content: space-between;
  .fontSizeControl{
    flex: 1;
    .slider{
      width: 100%;
      margin-left: 20px;
      display: inline-block;
    }
  }
}

.footer{
  display: flex;
  justify-content: space-between;
  .button{
    &:first-child{
      width: 62%;
    }
    &:last-child{
      width: 35%;
    }
  }
}
