body {
  width: 500px;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  padding: 1px;
}

::-webkit-scrollbar-thumb {
  background: rgba(#6200ee, .5);
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: transparent;
  opacity: .3;
  border-radius: 20px;
}

.field {
  width: 100%;
}

textarea {
  resize: vertical;
}

.canvasWrap {
  width: 100%;
  overflow-x: auto;
  margin: 20px 0;
  box-sizing: border-box;
}

canvas {
  display: block;
  margin: 0 auto;
}

.control {
  display: flex;
  justify-content: space-between;

  .fontSizeControl {
    flex: 1;

    .slider {
      width: 100%;
      margin-left: 20px;
      display: inline-block;
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;

  .button {
    &:first-child {
      width: 62%;
    }

    &:last-child {
      width: 35%;
    }
  }
}
